@font-face {
    font-family: Tanha;
    src: url('./font/Tanha.eot');
    src: url('./font/Tanha.eot?iefix') format('embedded-opentype'),
         url('./font/Tanha.woff') format('woff'),
         url('./font/Tanha.ttf') format('truetype');
    font-weight: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tanha;
    direction: rtl;
    text-decoration: none;
    list-style: none;
}

:root{
    --primary-color: #3b141c;
    --secondary-color: #f3961c;
    --dark-color: #252525;
    --white-color: #fff;
    --light-gray-color: #f2f2f2;

    --site-max-width: 1300px;
}
html{
    scroll-behavior: smooth;
}

.section-container {
    margin: 0 auto;
    max-width: var(--site-max-width);
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: var(--primary-color);
}
nav{
    display: flex; /*! برای این که محتوا بیاد کنار همدیگه !*/
    padding: 15px 0 15px 20px;
    justify-content: space-between; /*! برای این که بین محتوا فاصله بندازیم !*/
    align-items: center;
    margin: auto;
    max-width: var(--site-max-width);
}

nav .nav-logo a{
    display: flex;/*! برای این که نوشته ی هدر بیاد کنار لوگو !*/
    gap: 15px;
    align-items: center;
}

nav .nav-logo a img{
    max-width: 55px;
}
nav .nav-logo a h2{
    color: var(--white-color);
    font-weight: 600;
    font-size: 32px;
}

nav ul{
    display: flex;
    gap: 10px;
}

nav ul li a{
    display: block;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 500;
    color: var(--white-color);
    border-radius: 30px;
    transition: all 300ms ease;
}
nav ul li a:hover{
    color: var(--primary-color);
    background-color: var(--secondary-color);
    cursor: pointer;
}

#click,
label .btn-menu,
label .btn-close{
    display: none;
}


.hero-section{
    min-height: 100vh;
    background-color: var(--primary-color);
}

.hero-container {
    
    display: flex;
    gap: 20px;
    padding: 20px;
    padding-top: 85px;
    align-items: center; /*! برای این که محتوا وسط قرار بگیره !*/
    justify-content: space-between;
    min-height: calc(100vh - 85px);
}
.text-section h2{
    color: var(--secondary-color);
    font-size: 40px;
}
.text-section h3{
    color: var(--white-color);
    font-size: 35px;
    font-weight: 600;
    margin-top: 8px;
}
.text-section p{
    color: var(--white-color);
    font-size: 20px;
    font-weight: 400;
    margin: 24px 0 48px;
    max-width: 70%;
}
.hero-section-btn{
    display: flex;
    gap: 24px;
}
.hero-section-btn .button{
    padding: 8px 28px;
    border: 2px solid transparent;
    cursor: pointer;
    outline: none;
    background-color: var(--secondary-color);
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.4s ease;
    color: var(--dark-color);
}

.hero-section-btn .button:last-child{
    background: none;
    color: var(--white-color);
    border-color: var(--white-color);
}
.hero-section-btn .button:last-child:hover{
    background: var(--secondary-color);
    color: var(--dark-color);
    border-color: transparent;
}
.hero-section-btn .button:first-child:hover{
    background: none;
    color: var(--white-color);
    border-color: var(--white-color);
}

.image-section{
    max-width: 45%;
}

.image-section img{
    max-width: 100%;
}

.about-section{
    background-color: var(--light-gray-color);
    padding: 60px 20px 120px;
}


.about-container{
    display:flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}
.text-about{
    max-width: 50%;
}
.text-about h2{
    text-align: center;
    padding: 60px 0 100px;
    font-size: 32px;
    text-transform: uppercase;
}
.text-about p{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: center;
}


.service-section{
    padding: 60px 20px 120px;
    background-color: var(--dark-color);
    color:  var(--white-color);
}
.service-section .service-container{
    display: flex;
    justify-content: space-between;
    gap: 120px;
    align-items: center;
    flex-wrap: wrap;
}

.service-item img{
    width: 100%;
}

.service-container .item-text{
    text-align: center;
    margin: 12px 0;
    font-weight: 600;
    font-size: 24px;
}
.service-container .item-text p{
    font-weight: 400;
    font-size: 18px;
    margin-top: 8px;
}

.service-container .service-item{
    width: calc(100% / 3 - 120px);
}

/* ? why ? */

.why-section{
    padding: 60px 20px 120px;
    background-color: var(--light-gray-color);
}

.why-container{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 80px;
}
.why-container .why-item img{
    width: 30%;
    margin-bottom: 10px;
}
.why-container .why-item{
    width: calc(100% / 3 - 80px);
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why-container .why-item .item-text{
    text-align: center;
}

.why-container .why-item .item-text h3{
    font-size: 22px;
    color: var(--dark-color);
    margin: 20px 0;
}

.why-container .why-item .item-text p{
    font-size: 17px;
    color: var(--dark-color);
    
}

/* ? gallery ? */

.gallery-section{
    padding: 60px 20px 120px;
    background-color: var(--white-color);
}

.gallery-section .gallery-container{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.gallery-container .gallery-item{
    width: calc(100% / 3 - 20px);
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
}

.gallery-container .gallery-item img{
    width: 100%;
    transition: transform 0.4s ease;
}

.gallery-container .gallery-item:hover img{
    transform: scale(1.3);
}

/* ? contact us ? */

.contact-section{
    background-color: var(--light-gray-color);
    padding: 60px 20px 120px;

}

.contact-section .contact-container{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}

.contact-container .form{
    width: 100%;
    max-width: 65%;
}



.contact-container .form .field{
    margin: 20px 0;
}

.contact-container .form .field label{
    display: block;
    margin-bottom: 6px;
}

.contact-container .form .field input,
.contact-container .form .field textarea{
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}
.contact-container .form .field textarea{
    height: 200px;
}
.contact-container .form button{
    padding: 8px 28px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.4s ease;
    border: solid 2px var(--white-color);
}


.contact-container .form button:hover{
    background-color: transparent;
    border: solid 2px var(--dark-color);
    color: var(--primary-color);

}










.contact-container .info .info-item{
    display: flex;
    gap: 20px;
    margin: 80px 0;

}
.contact-container .info .info-item i{
    font-size: 32px;
    margin-top: 5px;
}


.title{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    padding: 60px 0 100px;
}

.title::after{
    content: "";
    display: block;
    width: 80px;
    height: 5px;
    background-color: var(--secondary-color);
    margin: 7px auto 0;
    border-radius: 8px;
}


footer{
    background-color: #1b1b1b;
    color: var(--white-color);
    padding: 60px 20px;
}

.footer-container{
    display: flex;
    justify-content: space-between; 
}


.footer-container .footer-logo a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: var(--white-color);
    font-size: 20px;
    font-weight: 600;
}


.footer-container .useful-links a{
    display: block;
    margin: 24px 0;
    font-size: 17px;
    font-weight: 400;
    color: var(--white-color);
}
.footer-container .useful-links a:hover{
    text-decoration: underline;
}

.footer-container .contact ul li{
    display: flex;
    text-align: center;
    margin: 24px 0;
    gap: 20px;
}

.footer-container .contact i{
    font-size: 24px;
}
.footer-container .contact span{
    font-size: 18px;
    font-weight: 400;
}



.footer-container .fallow-us i{
    color: var(--white-color);
    font-size: 26px;
    margin-right: 25px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.footer-container .fallow-us i:hover{
    color: var(--secondary-color);
}

footer h3{
    font-size: 22px;
    margin-bottom: 16px;
    font-weight: 600;

}